/** {*/
	/*font-family: Arial, Helvetica, sans-serif;*/
/*}*/

#map {
	height: 350px;
	display: block;
	float: left;
	border: 1px solid #ddd;
}

#txtResult {
	overflow-y: scroll;
	height: 300px;
	/*border: 1px solid #ddd;*/
	font-family: "Courier New", monospace;
	white-space: pre;
}

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;

	-webkit-transition: opacity 0.25s, width 0.25s;
	-moz-transition: opacity 0.25s, width 0.25s;
	-o-transition: opacity 0.25s, width 0.25s;
	transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
	cursor:progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
	width: 10px;
}

.has-spinner.btn-small.active .spinner {
	width: 13px;
}

.has-spinner.btn.active .spinner {
	width: 16px;
}

.has-spinner.btn-large.active .spinner {
	width: 19px;
}

.glyphicon.spinning {
	-animation: spin 1s infinite linear;
	-moz-animation: spin2 1s infinite linear;
	-webkit-animation: spin3 1s infinite linear;
}

@-webkit-keyframes spin3 {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}