/** {*/
	/*font-family: Arial, Helvetica, sans-serif;*/
/*}*/

#map {
	height: 350px;
	display: block;
	float: left;
	border: 1px solid #ddd;
}

#txtResult {
	overflow-y: scroll;
	height: 300px;
	/*border: 1px solid #ddd;*/
	font-family: "Courier New", monospace;
	white-space: pre;
}